
<div class="container">
  <div class="row">
  	<ul>
  	  <!-- ここの表示はジャンルを登録したら番号にする。リンクも設定する -->
  	  <li>ケーキ</li> 
  	  <li>プリン</li>
  	  <li>焼き菓子</li>
  	  <li>キャンディ</li>
  	</ul>
  </div>
</div>

<div class="container">
  <img src="#" class="img-top">
</div>
<div class="item-index-table">
<table class="index-item-ul">
<% @items.each do |i| %>
	<% if customer_signed_in? %>
	<li class="index-item">
	<%= link_to customers_item_path(i.id) do %>
	<%= attachment_image_tag i, :image, :fill, 300, 300, format: "jpeg", class: "img-circle pull-left profile-img", fallback: "top/no_image.jpg", size: "400x400" %>
	<p class="item-name"><%= i.name %></p>
	<% end %>
	<p class="item-description"><%= i.description %></p>
	</li>
	<% else %>
	<li class="index-item">
	<%= attachment_image_tag i, :image, :fill, 300, 300, format: "jpeg", class: "img-circle pull-left profile-img", fallback: "top/no_image.jpg", size: "400x400" %>
	<p class="item-name"><%= i.name %></p>
	<p class="item-description"><%= i.description %></p>
	</li>
	<% end %>
<table>
</div>
<% end %>
<ul>
<!-- footer -->
<footer class="box d">
>>>>>>> Stashed changes
</div>

