<div class="container">
  <% if @shipping_address.errors.any? %>
  <div id="error_explanation">
    <h3><%= @shipping_address.errors.count %>errors prohibited this obj from being saved:</h3>
      <ul>
        <% @shipping_address.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
  </div>
  <% end %>
  <h3>配送先編集</h3>
  <div class="row">
  	<div class="col-xs-8">
  	<%= form_for(@shipping_address, url:customers_shipping_address_path(@shipping_address.id)) do |sh| %>
  	  <table class="table table-bordered">
        <tbody>
          <tr>
          	<td>郵便番号</td>
          	<td><%= sh.text_field :post_code %></td>
          </tr>
          <tr>
          	<td>住所</td>
          	<td><%= sh.text_field :address %></td>
          </tr>
          <tr>
          	<td>宛名</td>
          	<td><%= sh.text_field :name %></td>
          </tr>
        </tbody>
   	  </table>
    <div class="col-xs-2">
      <%= sh.submit "保存する", class:"btn btn-info" %>
   	<% end %>
   	</div>
  </div>
</div>
 