<div class="container">
  <h3>配送先登録/一覧</h3>
  <div class="row">
  	<%= form_for(@shipping_address, url:customers_shipping_addresses_path) do |s| %>
  	<div class="col-xs-8">
  	  <table class="table table-bordered">
  	  	<tr>
  	  	  <td class="active">郵便番号</td>
  	  	  <td><%= s.text_field :post_code %></td>
  	  	</tr>
  	  	<tr>
  	  	  <td class="active">住所</td>
  	  	  <td><%= s.text_field :address, size: "50x20" %></td>
  	  	</tr>
  	  	<tr>
  	  	  <td class="active">宛名</td>
  	  	  <td><%= s.text_field :name %></td>
  	  	</tr>
  	  </table>
    </div>
    <div>
      <%= s.submit '登録する', class:" btn btn-info" %>
    </div>
  	<% end %>
  	<div class="col-xs-7">
      <table class="table table-bordered">
      	<thead>
      	  <th class="active">郵便番号</th>
      	  <th class="active">住所</th>
      	  <th class="active">宛名</th>
      	  <th class="active"></th>
      	</thead>

	    <% @shipping_addresses.each do |sa| %>
	    <tbody>
	      <td><%= sa.post_code %></td>
	      <td><%= sa.address %></td>
	      <td><%= sa.name %></td>
	      <td>
	      	<%= link_to "編集する", edit_customers_shipping_address_path(sa.id), class: "btn btn-info" %>
	      	<%= link_to "削除する", customers_shipping_address_path(sa.id),method: :delete, "data-confirm" => "本当に削除しますか?", class: "btn btn-danger" %>
	      </td>
	    <% end %>
	    </tbody>
	  </table>
	</div>
  </div>
</div>