<div class="container">
  <h1>商品一覧</h1>

  <table class="table">
    <thead>
      <tr>
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>ジャンル</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
    <% if @items.present? %>
    <% @items.each do |item| %>
      <tr>
        <td>1</td>
        <td>洋梨のチーズタルト</td>
        <td>1,200</td>
        <td>ケーキ</td>
        <td>販売中</td>
      </tr>
      <tr>
        <td><%= item.items %></td>
        <td><%= item.name %></td>
        <td><%= item.price %></td>
        <td><%= item.genre_id %></td>
        <td><%= item.sales_atatus %></td>
      </tr>
     <% end %>
     <% end %>
    </tbody>
  </table>
</div>


