<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <hader>
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <%= link_to "ながのCAKE", root_path, class: "navbar-brand" %>
          </div>
            <ul class="nav navbar-nav navbar-right">
              <% if customer_signed_in? %>
                <li><%= link_to "MyPage", customers_customer_path(current_customer) %></li>
                <li><%= link_to "Sweets List", customers_items_path %></li>
                <li><%=link_to 'Order History', customers_orders_path %></li>
                <li class="">
                  <%=link_to destroy_customer_session_path, method: "delete" do %>LogOut</li>
                  <% end %>
              <% else %>
                <li><%= link_to "Top", root_path %></li>
                <li><%= link_to "About", customers_homes_about_path %></li></li>
                <li><%= link_to "新規登録", new_customer_registration_path %></li>
                <li><%= link_to "ログイン", new_customer_session_path %></li></li>
               <% end %>
            </ul>
               
        </div>
      </nav>
    </hader>
      <%= yield %>
      <footer>
      </footer>
  </body>
</html>
               